<!-- templates/dashboard.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Butcherman&display=swap" rel="stylesheet">
</head>

<body data-bs-theme="dark">
<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="#">Retirement Ranch</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">

                <li class="nav-item">
                    <button type="button" class="nav-link" data-bs-toggle="modal" data-bs-target="#step1Modal">Employee
                        Details
                    </button>
                </li>
                <li class="nav-item">
                    <button type="button" class="nav-link" onclick="window.location.href='/403b_calculator'">403(b)
                        Calculator
                    </button>
                </li>
                <li class="nav-item">
                    <button type="button" class="nav-link" onclick="window.location.href='/ira_roth_calculator'">
                        IRA(Roth) Calculator
                    </button>
                </li>

                <li class="nav-item">
                    <button type="button" class="nav-link" onclick="window.location.href='/ira_trad_calculator'">
                        IRA(Traditional) Calculator
                    </button>
                </li>
                <li class="nav-item">
                    <button type="button" class="nav-link" onclick="window.location.href='/logout'">Logout</button>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid" id="main-graphs">
    <div class="row">

        <!-- Main content area for charts -->
        <main class="ms-sm-auto px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Dashboard</h1>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card bg-light shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Retirement Chart</h6>
                        </div>
                        <div class="card-body">
                            <div class="chart-area">
                                <canvas id="lineChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card bg-light shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Bar Chart</h6>
                        </div>
                        <div class="card-body">
                            <div class="chart-area">

                                <canvas id="barChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card bg-light shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Retirement Chart</h6>
                        </div>
                        <div class="card-body">
                            <div class="chart-area">
                                <canvas id="pieChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<div id="alertPlaceholder" style="
    margin-top: 50px;
    right: 0px;
    float: right;
    width: 30%;
    position: absolute;
    top: 15px;
"></div>

<!-- Personal Info Modal -->
<div class="modal fade" data-bs-backdrop="static" id="step1Modal" tabindex="-1" aria-labelledby="step1ModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="step1ModalLabel">Personal Information</h1>
            </div>
            <div class="modal-body">
                <div class="form-group mb-3">
                    <label for="current_age">Current Age</label>
                    <input type="number" class="form-control bg-secondary text-white" id="current_age" required>
                </div>

                <div class="form-group mb-3">
                    <label for="retirement_age">Retirement Age</label>
                    <input type="number" class="form-control bg-secondary text-white" id="retirement_age" required>
                </div>

                <div class="form-group mb-3">
                    <label for="current_salary">Current Salary</label>
                    <input type="number" class="form-control bg-secondary text-white" id="current_salary" step="0.01"
                           required>
                </div>

                <div class="form-group mb-3">
                    <label for="annual_salary_growth_rate">Annual Salary Growth Rate (%)</label>
                    <input type="number" class="form-control bg-secondary text-white" id="annual_salary_growth_rate"
                           step="0.01" required>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-target="#step2Modal" data-bs-toggle="modal">Next</button>
            </div>
        </div>
    </div>
</div>

<!-- TRS Modal -->
<div class="modal fade" id="step2Modal" tabindex="-1" aria-labelledby="step2ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">

            <div class="modal-header">
                <h1 class="modal-title fs-5" id="step2ModalLabel">TRS Information</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group mb-3">
                    <label for="trs_current_years_service">Current Years of Service</label>
                    <input type="number" class="form-control bg-secondary text-white" id="trs_current_years_service"
                           step="0.01" required>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-target="#step1Modal" data-bs-toggle="modal">Previous</button>
                <button class="btn btn-primary" data-bs-target="#step3Modal" data-bs-toggle="modal">Next</button>
            </div>
        </div>
    </div>
</div>

<!-- 403B Modal -->
<div class="modal fade" id="step3Modal" tabindex="-1" aria-labelledby="step3ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">

            <div class="modal-header">
                <h1 class="modal-title fs-5" id="step3ModalLabel">403B Information</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group mb-3">
                    <label for="403_current_balance">Current Balance</label>
                    <input type="number" class="form-control bg-secondary text-white" id="403_current_balance"
                           step="0.01"
                           required>
                </div>
                <div class="form-group mb-3">
                    <label for="403_annual_contribution_percentage">Annual Contribution Percentage (%)</label>
                    <input type="number" class="form-control bg-secondary text-white"
                           id="403_annual_contribution_percentage" step="0.01" required>
                </div>

                <div class="form-group mb-3">
                    <label for="403_employer_match_percentage">Employer Match Percentage (%)</label>
                    <input type="number" class="form-control bg-secondary text-white" id="403_employer_match_percentage"
                           step="0.01" required>
                </div>

                <div class="form-group mb-3">
                    <label for="403_expected_annual_return">Expected Annual Return (%)</label>
                    <input type="number" class="form-control bg-secondary text-white" id="403_expected_annual_return"
                           step="0.01" required>
                </div>

                <div class="form-group mb-3">
                    <label for="403_annual_investment_fee_rate">Annual Investment Fee Rate (%)</label>
                    <input type="number" class="form-control bg-secondary text-white"
                           id="403_annual_investment_fee_rate"
                           step="0.01" required>
                </div>

                <div class="form-check mb-3">
                    <input type="checkbox" class="form-check-input" id="403_max_out">
                    <label class="form-check-label" for="403_max_out">Maximum Contribution Out</label>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-target="#step2Modal" data-bs-toggle="modal">Previous</button>
                <button class="btn btn-primary" data-bs-target="#step4Modal" data-bs-toggle="modal">Next</button>
            </div>
        </div>
    </div>
</div>

<!-- IRA-ROTH Modal -->
<div class="modal fade" id="step4Modal" tabindex="-1" aria-labelledby="step4ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="step4ModalLabel">IRA-ROTH Information</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group mb-3">
                    <label for="roth_current_balance">Current Balance</label>
                    <input type="number" class="form-control bg-secondary text-white" id="roth_current_balance"
                           step="0.01"
                           required>
                </div>
                <div class="form-group mb-3">
                    <label for="roth_annual_contribution_percentage">Annual Contribution Percentage (%)</label>
                    <input type="number" class="form-control bg-secondary text-white"
                           id="roth_annual_contribution_percentage" step="0.01" required>
                </div>

                <div class="form-group mb-3">
                    <label for="roth_expected_annual_return">Expected Annual Return (%)</label>
                    <input type="number" class="form-control bg-secondary text-white" id="roth_expected_annual_return"
                           step="0.01" required>
                </div>

                <div class="form-group mb-3">
                    <label for="roth_annual_tax_rate">Annual Tax Rate (%)</label>
                    <input type="number" class="form-control bg-secondary text-white" id="roth_annual_tax_rate"
                           step="0.01"
                           required>
                </div>

                <div class="form-check mb-3">
                    <input type="checkbox" class="form-check-input" id="roth_max_out">
                    <label class="form-check-label" for="roth_max_out">Maximum Contribution Out</label>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-target="#step3Modal" data-bs-toggle="modal">Previous</button>
                <button class="btn btn-primary" data-bs-target="#step5Modal" data-bs-toggle="modal">Next</button>

            </div>
        </div>
    </div>
</div>


<!-- IRA-TRAD Modal -->
<div class="modal fade" id="step5Modal" tabindex="-1" aria-labelledby="step5ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="step5ModalLabel">IRA Information</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group mb-3">
                    <label for="trad_current_balance">Current Balance</label>
                    <input type="number" class="form-control bg-secondary text-white" id="trad_current_balance"
                           step="0.01"
                           required>
                </div>
                <div class="form-group mb-3">
                    <label for="trad_annual_contribution_percentage">Annual Contribution Percentage (%)</label>
                    <input type="number" class="form-control bg-secondary text-white"
                           id="trad_annual_contribution_percentage" step="0.01" required>
                </div>

                <div class="form-group mb-3">
                    <label for="trad_expected_annual_return">Expected Annual Return (%)</label>
                    <input type="number" class="form-control bg-secondary text-white" id="trad_expected_annual_return"
                           step="0.01" required>
                </div>

                <div class="form-group mb-3">
                    <label for="trad_annual_tax_rate">Annual Tax Rate (%)</label>
                    <input type="number" class="form-control bg-secondary text-white" id="trad_annual_tax_rate"
                           step="0.01"
                           required>
                </div>

                <div class="form-check mb-3">
                    <input type="checkbox" class="form-check-input" id="trad_max_out">
                    <label class="form-check-label" for="trad_max_out">Maximum Contribution Out</label>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-target="#step4Modal" data-bs-toggle="modal">Previous</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>

<script>
    async function gatherAndSendData() {
        // Collect personal info
        const personal_info = {
            current_age: parseFloat(document.getElementById('current_age').value),
            retirement_age: parseFloat(document.getElementById('retirement_age').value),
            current_salary: parseFloat(document.getElementById('current_salary').value),
            annual_salary_growth_rate: parseFloat(document.getElementById('annual_salary_growth_rate').value / 100),
        };

        // Collect 403b data
        const b403 = {
            annual_contribution_percentage: parseFloat(document.getElementById('403_annual_contribution_percentage').value / 100),
            employer_match_percentage: parseFloat(document.getElementById('403_employer_match_percentage').value / 100),
            expected_annual_return: parseFloat(document.getElementById('403_expected_annual_return').value / 100),
            current_balance: parseFloat(document.getElementById('403_current_balance').value),
            annual_investment_fee_rate: parseFloat(document.getElementById('403_annual_investment_fee_rate').value / 100),
            max_out: document.getElementById("403_max_out").checked, // Adjust based on how max_out is represented
        };

        // Collect IRA data
        const ira_roth = {
            annual_contribution_percentage: parseFloat(document.getElementById('roth_annual_contribution_percentage').value / 100),
            expected_annual_return: parseFloat(document.getElementById('roth_expected_annual_return').value / 100),
            annual_tax_rate: parseFloat(document.getElementById('roth_annual_tax_rate').value / 100),
            current_balance: parseFloat(document.getElementById('roth_current_balance').value),
            max_out: document.getElementById("roth_max_out").checked, // Adjust based on how max_out is represented
        };

        // Collect IRA-Trad data
        const ira_trad = {
            annual_contribution_percentage: parseFloat(document.getElementById('trad_annual_contribution_percentage').value / 100),
            expected_annual_return: parseFloat(document.getElementById('trad_expected_annual_return').value / 100),
            annual_tax_rate: parseFloat(document.getElementById('trad_annual_tax_rate').value) / 100,
            current_balance: parseFloat(document.getElementById('trad_current_balance').value),
            max_out: document.getElementById("trad_max_out").checked, // Adjust based on how max_out is represented
        };

        const trs = {
            current_years_service: parseFloat(document.getElementById('trs_current_years_service').value)
        };

        // Prepare the JSON object
        const data = {
            personal_info,
            b403,
            ira_roth,
            ira_trad,
            trs
        };

        // Send data to Flask backend
        try {
            const response = await fetch('/update_userinfo/', {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            });
            if (response.ok) {
                showAlert('Data saved successfully!', 'success');
            } else {
                showAlert('Failed to save data', 'danger');
            }
        } catch (error) {
            console.error('Error:', error);
        }
    }

    // Bind the function to the Finish button in the last modal
    document.querySelector('#step5Modal .btn-primary[data-bs-dismiss="modal"]').addEventListener('click', gatherAndSendData);
</script>


<script>
    function showAlert(message, type) {
        // Create a new alert div
        const alert = document.createElement('div');
        alert.className = `alert alert-${type} alert-dismissible fade show`;
        alert.role = 'alert';
        alert.innerHTML = message + `
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        `;

        // Append the alert to the placeholder
        const alertPlaceholder = document.getElementById('alertPlaceholder');
        alertPlaceholder.appendChild(alert);

        // Automatically dismiss the alert after a few seconds
        setTimeout(() => {
            alert.classList.remove('show');
            alert.classList.add('fade');
            alertPlaceholder.removeChild(alert);
        }, 5000);
    }

</script>

<script>
    const lineCtx = document.getElementById('lineChart');
    const barCtx = document.getElementById('barChart').getContext('2d');
    const pieCtx = document.getElementById('pieChart').getContext('2d');

    let lineChart = new Chart(lineCtx, {
        type: 'line',
        data: {
            labels: ['January', 'February', 'March', 'April', 'May', 'June'],
            datasets: [{label: 'Sales', data: [], borderColor: 'rgba(75, 192, 192, 1)', fill: false}],
            options: {
                maintainAspectRatio: false,
                layout: {
                    padding: {
                        left: 10,
                        right: 25,
                        top: 25,
                        bottom: 0
                    }
                },
                scales: {
                    xAxes: [{
                        gridLines: {
                            display: false,
                            drawBorder: false
                        }
                    }],
                    yAxes: [{
                        gridLines: {
                            color: "rgb(234, 236, 244)",
                            zeroLineColor: "rgb(234, 236, 244)",
                            drawBorder: false,
                            borderDash: [2],
                            zeroLineBorderDash: [2]
                        }
                    }],
                },
                legend: {
                    display: true
                },
                tooltips: {
                    backgroundColor: "rgb(255,255,255)",
                    bodyFontColor: "#858796",
                    titleMarginBottom: 10,
                    titleFontColor: '#6e707e',
                    titleFontSize: 14,
                    borderColor: '#dddfeb',
                    borderWidth: 1,
                    xPadding: 15,
                    yPadding: 15,
                    displayColors: false,
                    intersect: false,
                    mode: 'index',
                    caretPadding: 10,
                    callbacks: {
                        label: function (tooltipItem, chart) {
                            var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                            return datasetLabel + ': $' + number_format(tooltipItem.yLabel);
                        }
                    }
                }
            }
        }
    });

    let barChart = new Chart(barCtx, {
        type: 'bar',
        data: {
            labels: ['Product A', 'Product B', 'Product C', 'Product D'],
            datasets: [{label: 'Units Sold', data: [], backgroundColor: 'rgba(255, 99, 132, 0.5)'}]
        }
    });

    let pieChart = new Chart(pieCtx, {
        type: 'pie',
        data: {
            labels: ['Red', 'Blue', 'Yellow'],
            datasets: [{
                label: 'Colors',
                data: [],
                backgroundColor: ['rgba(255, 99, 132, 0.5)', 'rgba(54, 162, 235, 0.5)', 'rgba(255, 206, 86, 0.5)']
            }]
        }
    });

</script>
<script>
    $(document).ready(function () {
        // Call the API to check user information
        $.ajax({
            url: '/get_userinfo',
            method: 'GET',
            success: function (response) {
                // Check the response message
                if (response.message === "success") {
                    const userInfo = response.user_info;

                    // Fill in the Personal Information fields
                    $('#current_age').val(userInfo.personal_info.current_age);
                    $('#retirement_age').val(userInfo.personal_info.retirement_age);
                    $('#current_salary').val(userInfo.personal_info.current_salary);
                    $('#annual_salary_growth_rate').val(userInfo.personal_info.annual_salary_growth_rate * 100);

                    $('#current_years_service').val(userInfo.trs.current_years_service);

                    // Fill in the 403b fields
                    $('#403_annual_contribution_percentage').val(userInfo.b403.annual_contribution_percentage * 100);
                    $('#403_employer_match_percentage').val(userInfo.b403.employer_match_percentage * 100);
                    $('#403_expected_annual_return').val(userInfo.b403.expected_annual_return * 100);
                    $('#403_current_balance').val(userInfo.b403.current_balance);
                    $('#403_annual_investment_fee_rate').val(userInfo.b403.annual_investment_fee_rate * 100);
                    $('#403_max_out').prop('checked', userInfo.b403.max_out);

                    // Fill in the IRA Roth fields
                    $('#roth_annual_contribution_percentage').val(userInfo.ira_roth.annual_contribution_percentage * 100);
                    $('#roth_expected_annual_return').val(userInfo.ira_roth.expected_annual_return * 100);
                    $('#roth_annual_tax_rate').val(userInfo.ira_roth.annual_tax_rate * 100);
                    $('#roth_current_balance').val(userInfo.ira_roth.current_balance);
                    $('#roth_max_out').prop('checked', userInfo.ira_roth.max_out);

                    // Fill in the IRA Trad fields
                    $('#trad_annual_contribution_percentage').val(userInfo.ira_trad.annual_contribution_percentage * 100);
                    $('#trad_expected_annual_return').val(userInfo.ira_trad.expected_annual_return * 100);
                    $('#trad_annual_tax_rate').val(userInfo.ira_trad.annual_tax_rate * 100);
                    $('#trad_current_balance').val(userInfo.ira_trad.current_balance);
                    $('#trad_max_out').prop('checked', userInfo.ira_trad.max_out);

                    // Show appropriate modal if any essential information is missing
                    if (!userInfo.personal_info.current_age || !userInfo.personal_info.retirement_age || !userInfo.personal_info.current_salary || !userInfo.personal_info.annual_salary_growth_rate) {
                        $('#step1Modal').modal('show');
                    }
                } else {
                    console.error("API response was not successful.");
                }
            },
            error: function (xhr, status, error) {
                $('#step1Modal').modal('show');
                console.error("Error fetching user information:", error);
            }
        });
    });
</script>


</body>
</html>
